/* modify/override style classes here */
/* h1 { color: #FF0000; } */

/* table styling */
.table-wrapper table thead th {
    background-color: #f5f6fa;
}
.table-wrapper table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
.table-wrapper table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* triple tick code blocks */
div.highlight, pre.highlight {
  background-color: #f5f6fa;
}
